.todo__input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.todo__input:focus {
    outline: none;
    border: 1px solid rgb(144, 144, 144);
}

.todo__input::placeholder {
    color: #a1a1a1;
    opacity: 1;
}